<%= form_with(model: comment) do |f| %>
  <% if comment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :content, style: "display: block", class: "form-label" %>
    <%= f.text_area :content, class: "form-control" %>
  </div>

  <div>
    <%= f.label :photo_id, style: "display: block", class: "form-label" %>
    <%= f.collection_select(:photo_id, Photo.all, :id, :id, { prompt: "Seleccione una foto" }, class: "form-control") %> 
  </div>

  <div>
    <%= f.submit "Crear Comentario", class: "btn btn-primary" %>
  </div>
<% end %>